ul {
  list-style-type: none;
  padding: 0;
}

.el-header {
  border-bottom:1px solid black;
}

.el-header, .el-footer {
  background-color: #ffffff;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  background-color: #4a3a4a;
  text-align: center;
  width: 100px!important;
}

.el-aside a {
  color: #ffffff;
  text-decoration:none;
  font-weight: bold;
}

.el-main {
  background-color: #ffffff;
  color: #333;
  text-align: center;
}

.el-container{
  height: 100vh;
}

.el-input {
  width: 50%;
}

/*.view {*/
/*display:grid;*/
/*grid-template-columns: 100px 1fr;*/
/*grid-template-rows: auto 1fr auto;*/
/*}*/

/*.channel {*/
/*grid-row: 1 / span 3;*/
/*grid-column: 1 / 2;*/
/*}*/

/*.channel-name {*/
/*grid-area: 1 / 2;*/
/*}*/
/*.messages {*/
/*grid-area: 2 / 2;*/
/*height: 300px;*/
/*overflow: scroll;*/
/*}*/
/*.form {*/
/*grid-area: 3 / 2;*/
/*}*/

/*ul {*/
/*list-style-type: none;*/
/*padding: 0;*/
/*}*/
